.home-container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(210, 105, 58, 1) 35%, rgba(210, 239, 82, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-text-container {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    width:  50%;
}


.photo-container {
   /*  color: #103AAB; */
}

.nav-item-extra {
    display: flex;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700 !important;
    margin-right: 0px;
}

.nav-item-extra:hover {
    border: none !important;
}