.projects-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbce54;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px 0;
}

@media only screen and (max-width: 680px) {
    .grid-container {
        margin: 100px 0 60px 0;
    }
}