.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    background-color: #FEFEF3;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    height: 85px;
}

.footer-container > *{
    margin: 30px 40px;

}

.footer-container > .nav-item {
    color: black;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
}

.footer-links-container > div > a {
    text-decoration: none;
    color: black;
    margin-right: 14px;
}


.footer-links-container > div > a:visited {
    color: black;
}

