.navbar-container {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 20;
    margin-top: 40px;
}

.nav-item {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
    margin: 20px 40px;
}

.nav-item:visited {
    color: BE2EFD;
}

.nav-item:hover{
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 680px) {
    .navbar-container {
        margin-top: 30px;
    }

    .nav-item {
        margin: 20px 30px;
    }
}
