

.spinner-container {
    width: 100vw;
    height: 100vh;
    background-color: #FEFEF3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun-element {
    position: absolute;
    width: 25vmin;
    height: 25vmin;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid black;
    /* clip-path: circle(40%); */
    background: linear-gradient(180deg, rgba(210, 105, 58, 1) 35%, rgba(210, 239, 82, 1) 100%);
    -webkit-animation : expand-bg 6s linear infinite;
    -moz-animation    : expand-bg 6s linear infinite;
    -o-animation      : expand-bg 6s linear infinite;
    animation         : expand-bg 6s linear infinite;
}

.moon-element {
    position: relative;
    border-radius: 50%;
    background-color: black;
    width: 23vmin;
    height: 23vmin;
    overflow: hidden;
    -webkit-animation : left-to-right 6s linear infinite;
    -moz-animation    : left-to-right 6s linear infinite;
    -o-animation      : left-to-right 6s linear infinite;
    animation         : left-to-right 6s linear infinite;
}

@keyframes left-to-right {
    from {left: -600px;}
    30% {left: 0px;}
    40% {left: 0px;}
    65% {left: 70vw;}
    to {left: 70vw;}
}

@keyframes expand-bg{
    from {    
            width: 25vmin;
            height: 25vmin;
    }

    65% { 
            width: 25vmin;
            height: 25vmin;
            border-radius: 50%;
    }
    
    to { 
            width: 200vmin;
            height: 200vmin;
            border-radius: 50%;
    }
}
